* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --input-border: hsl(0, 36%, 70%);
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
  --text-border: hsl(0, 80%, 86%);
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 30px;
}
/* Changing image from inline item to block item */
img {
  display: block;
}

.logo {
  width: 30%;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-top: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-image: url(/images/bg-pattern-desktop.svg);
  max-width: 1200px;
  box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.25);
}

.hero-image {
  margin-bottom: 50px;
  position: relative;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

form {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

input {
  display: block;
  padding: 15px 30px;
  border-radius: 50px;
  width: 80%;
  height: 25px;
  margin: auto;
  margin-bottom: 20px;
}

input:focus {
  border-color: hsl(--input-focus-h, --input-focus-s, --input-focus-l);
}

::placeholder {
  color: var(--desaturated-red);
}

button {
  position: absolute;
  top: 0px;
  right: 1%;
  height: 30px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  padding: 15px 5px;
  width: 100px;
  border-radius: 50px;
  border: var(--input-border);
}

button:hover {
  opacity: 0.6;
}

/* Centering button arrow */
.button-arrow {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.hero-desktop {
  display: none;
}

small {
  display: none;
  margin-left: 20px;
  margin-top: 10px;
  color: var(--soft-red);
}

form.error input {
  border: 2px solid var(--input-border);
}

form.error .error-icon {
  display: block;
}

form.error small {
  display: block;
}

.error-icon {
  display: none;
  position: absolute;
  top: 15px;
  right: 130px;
}

.coming-soon {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1.3;
  margin-bottom: 20px;
  position: relative;
}

.message {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: var(--desaturated-red);
  margin-bottom: 30px;
  position: relative;
  line-height: 1.6;
}

.first-para {
  color: var(--desaturated-red);
  font-weight: 400;
  letter-spacing: 8px;
  display: block;
}

.second-para {
  font-weight: 600;
  letter-spacing: 8px;
  display: block;
}
.third-para {
  font-weight: 600;
  letter-spacing: 8px;
}
.attribution {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 40px;
}

@media (min-width: 1100px) {
  .logo {
    width: 30%;
    margin-left: 0px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    flex-direction: row;
    margin: 150px auto 0;
    max-width: 1200px;
  }
  .hero-desktop {
    display: block;
    flex: 1;
    box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.25);
  }
  .hero-image {
    display: none;
  }
  .coming-soon {
    display: flex;
    flex-direction: column;
    position: static;
    text-align: left;
    line-height: 1.2;
    font-size: 250%;
  }
  .message {
    position: static;
    text-align: left;
  }

  form {
    position: relative;
    top: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }

  input {
    padding: 15px;
    border-radius: 50px;
    border: 2px solid var(--input-border);
    width: calc(100% - 34px);
    height: 25px;
    margin: 0;
  }

  button {
    background-image: linear-gradient(
      135deg,
      hsl(0, 80%, 86%),
      hsl(0, 74%, 74%)
    );
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    width: 90px;
    height: 27px;
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.25);
    border: var(--input-border);
    margin-right: 0;
  }

  .desk-left {
    justify-content: center;
    padding: 0 100px;
    flex: 1;
  }
}
